*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}

.common-color{
    color: #FF42A5;
}
.common-paragraph{
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
}
.btn-primary1{
    border-radius: 48px;
    background: #FF42A5;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border: 0;

}
.btn-primary2{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 10px 20px;
    color: white;
    border: 0;
    font-weight: 600;
}
/* nev bar style */
.nav-container{
    max-width: 1400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
 align-items: center;
    padding: 30px 150px;
}
.logo-section{
   display: flex;
   gap: 20px;
   /* text-align: center; */
}
.logo-section img{
    height: 30px;
    width: 60px;
    margin-top: 10px;
    
}
.logo{
    font-size: 2.5rem;
    font-weight: 700;
}

.menu-bar-section{
  /* display: flex; */
  
}
.menu-bar-section ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
.menu-bar-section li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
.menu-icon{
    margin-left: 300px;
}
.menu-style{
    width: 200px;
    height: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    padding-top: 15px;
    text-align: center;
}
.menu-style li{
    list-style: none;
}
.menu-style li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}
 .fa-brands{
  margin-left: 5px;
  margin-right: 5px;
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #3C354F;
}

/* cover section start */
.cover-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 150px;
}
.cover-text{
   padding-left: 150px;
   
}
.cover-picture{
    width: 50%;

}
.cover-picture img{
    height: 500px

}
.cover-states{
 color: #0B0223;
font-size: 1.5rem;
font-weight: 600;
text-transform: uppercase;
margin-top: 20px;
}
.cover-title{
font-size: 3.5rem;
font-weight: 800;
text-transform: uppercase;
color:  #8758F1;
margin-bottom: 15px;
margin-top: 15px;

}
.cover-button{
    margin-top: 15px;
  
}


/* We are gamer section style */

.gamer-section{
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
 padding: 20px 150px;
}
.gamer-picture{
   
}
.gamer-picture img{
    width: 80%;
}
.gamer-description{

}
.gamer-title{
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    color: #FF42A5;
}
.gamer-des{
    color: #534C64;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gamer-btn{
   float: right;

}
.end-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 10px;
    text-align: right;
}

/* online section style */
.online-section{
  text-align: center;
  margin-top: 80px;
}
.title{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.online-card{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 150px;
    position: relative;
}
.card > img{
    width: 220px;
    height: 300px;
}
.card-icon{
    position:absolute;
    top: 110px;
    color: white;
    right: 320px;
}
.fa-circle-play, .card-icon-des{
   color: red;
   cursor: pointer;
}

.card:hover{
    border-radius: 10px;
    box-shadow: 5px 10px #bdb7b7;
}















/* samll device */
@media screen and (max-width: 576px) {
    .nav-container {
       flex-direction: column;
       padding: 0px;
      }
      .logo-section {
   margin-top: 30px;
      }
      .menu-bar-section ul {
        flex-direction: column;
      }
      .menu-icon {
        margin: 0;
        padding: 40px 0px;
      }
      .cover-section {
        flex-direction: column;
      }
      .coveer-picture{
        width: 60%;
      }
      .cover-picture img{
       height: 40%;
      }     
      .cover-text{
        margin-top: 200px;
      }
      .cover-button{
        margin-bottom: 30px;
      
    }
    .gamer-section {
        flex-direction: column;
        padding: 5px;
        margin-top: 0px;
      }
      .gamer-picture img {
        width: 400px; 
        height: 300px;
    }
    .gamer-description, .end-description {
        text-align: center;
    }
    .gamer-title, .gamer-des{
        text-align: center;
      }
      .gamer-btn{
        float: none;
      }
      
}



/* medium device  */

@media screen and (min-width: 577px) and (max-width: 972px) {
    .nav-container {
        flex-direction: column;
        padding: 0px;
        margin-top: 30px;
       }
       .logo-section {
        margin-top: 30px;
       }
       .menu-bar-section ul {
         flex-direction: column;
       }
       .menu-icon {
         margin: 0;
         padding: 40px 0px;
       }
       .cover-section {
        flex-direction: column;
      }
       .coveer-picture{
        width: 90%;
      }
      .cover-picture img{
       height: 60%;
      }     
      .cover-text{
        margin-top: 200px;
      }
      .cover-button{
        margin-bottom: 30px;
      
    }
    .gamer-section {
        padding: 40px;
      
      }
}